<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About</h2>
                <p>
                    This little app was made using <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2" target="_blank">ASP.NET Core</a>. It consists of a web API documented with <a href="https://swagger.io/" target="_blank">Swagger</a> (you can check it <a href="/swagger" target="_blank">here</a>) and a simple <a href="https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.2&tabs=visual-studio" target="_blank">Razor page</a> with <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>.
                </p>
                <p>
                    The key here was to learn two technologies new to me. On the one hand, how a <a href="https://en.wikipedia.org/wiki/Web_crawler" target="_blank">web crawler</a> work. In this case I'm using <a href="https://github.com/sjdirect/abot" target="_blank">Abot</a>. On the other hand, I wanted to implement notifications from the server to the client (<a href="https://en.wikipedia.org/wiki/WebSocket" target="_blank">web socket</a>). For this, I used <a href="https://dotnet.microsoft.com/apps/aspnet/signalr" target="_blank">SignalR</a>.
                </p>
                <p>
                    I draw inspiration from <a href="https://loudwire.com/most-commonly-used-word-slipknot-lyrics/" target="_blank">this</a> article.
                </p>
                <p>
                    You can find the sorce code on <a href="https://github.com/n6ither/top-words" target="_blank">Github</a>.
                </p>

                <p>
                    The application <strong>does not</strong> save the lyrics anywhere. It's just a very basic algorithm that counts words frequency.
                </p>
            </div>
        </div>
    </div>
</section>