<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Available artists</h2>
                <p class="lead">This is a great place to start. Just pick an artist from this list to get its top words instantly!</p>

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <ul>
                                <li><a href="#" class="popart" data-id="200">Radiohead</a></li>
                                <li><a href="#" class="popart" data-id="7710">Brand New</a></li>
                                <li><a href="#" class="popart" data-id="892">Modest Mouse</a></li>
                                <li><a href="#" class="popart" data-id="5303">Bright Eyes</a></li>
                                <li><a href="#" class="popart" data-id="743">Coldplay</a></li>
                                <li><a href="#" class="popart" data-id="137438979418">Bon Iver</a></li>
                                <li><a href="#" class="popart" data-id="5963">Death Cab for Cutie</a></li>
                                <li><a href="#" class="popart" data-id="10">The Beatles</a></li>
                                <li><a href="#" class="popart" data-id="137438984026">Mumford & Sons</a></li>
                                <li><a href="#" class="popart" data-id="8589949184">Kings of Leon</a></li>
                                <li><a href="#" class="popart" data-id="137438965436">The National</a></li>
                                <li><a href="#" class="popart" data-id="249">Tool</a></li>
                                <li><a href="#" class="popart" data-id="137438973836">Taylor Swift</a></li>
                                <li><a href="#" class="popart" data-id="137438984319">Lady GaGa</a></li>
                                <li><a href="#" class="popart" data-id="34">Nirvana</a></li>
                                <li><a href="#" class="popart" data-id="137438962288">Regina Spektor</a></li>
                                <li><a href="#" class="popart" data-id="101">Bob Dylan</a></li>
                                <li><a href="#" class="popart" data-id="4933">Elliott Smith</a></li>
                                <li><a href="#" class="popart" data-id="137438963241">Arcade Fire</a></li>
                                <li><a href="#" class="popart" data-id="137438984123">Florence + the Machine</a></li>
                                <li><a href="#" class="popart" data-id="46">Pink Floyd</a></li>
                                <li><a href="#" class="popart" data-id="43">Dave Matthews Band</a></li>
                                <li><a href="#" class="popart" data-id="137438961915">Animal Collective</a></li>
                                <li><a href="#" class="popart" data-id="94">Eminem</a></li>
                                <li><a href="#" class="popart" data-id="464">The Smiths</a></li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <ul>
                                <li><a href="#" class="popart" data-id="137438966864">Paramore</a></li>
                                <li><a href="#" class="popart" data-id="5535">John Mayer</a></li>
                                <li><a href="#" class="popart" data-id="68">Pearl Jam</a></li>
                                <li><a href="#" class="popart" data-id="58">Red Hot Chili Peppers</a></li>
                                <li><a href="#" class="popart" data-id="137438960865">Sufjan Stevens</a></li>
                                <li><a href="#" class="popart" data-id="137438967123">The Killers</a></li>
                                <li><a href="#" class="popart" data-id="550">Muse</a></li>
                                <li><a href="#" class="popart" data-id="137438966819">Arctic Monkeys</a></li>
                                <li><a href="#" class="popart" data-id="16957">Fall Out Boy</a></li>
                                <li><a href="#" class="popart" data-id="121">Blink-182</a></li>
                                <li><a href="#" class="popart" data-id="500">Metallica</a></li>
                                <li><a href="#" class="popart" data-id="137438967810">A Day to Remember</a></li>
                                <li><a href="#" class="popart" data-id="137438963870">Iron & Wine</a></li>
                                <li><a href="#" class="popart" data-id="154">The Smashing Pumpkins</a></li>
                                <li><a href="#" class="popart" data-id="191">Nine Inch Nails</a></li>
                                <li><a href="#" class="popart" data-id="279">Deftones</a></li>
                                <li><a href="#" class="popart" data-id="7002">Tegan and Sara</a></li>
                                <li><a href="#" class="popart" data-id="327">The Cure</a></li>
                                <li><a href="#" class="popart" data-id="42">Incubus</a></li>
                                <li><a href="#" class="popart" data-id="56">U2</a></li>
                                <li><a href="#" class="popart" data-id="7770">The Mountain Goats</a></li>
                                <li><a href="#" class="popart" data-id="168">Green Day</a></li>
                                <li><a href="#" class="popart" data-id="137438975624">Fleet Foxes</a></li>
                                <li><a href="#" class="popart" data-id="137438976616">Adele</a></li>
                                <li><a href="#" class="popart" data-id="137438980572">Owl City</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

