<section id="result" class="hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 id="resultTitle">Results</h2>
                <ul id="resultList"></ul>
            </div>
        </div>
    </div>
</section>