<section class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Find more</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>

                <form method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="artistId" name="artistId" placeholder="Artist Id">
                    </div>

                    <button type="submit" id="submit" class="btn btn-primary btn-block">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>