<section class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Find more</h2>
                <p>
                    If you couldn't find what you were looking for up there, you can enter the artist id here and hit search.
                </p>

                <form method="post">
                    <div class="form-group">
                        <input type="number" class="form-control" id="artistId" name="artistId" placeholder="Artist Id">
                    </div>

                    <input type="hidden" id="connectionId" />

                    <button type="submit" id="submit" class="btn btn-primary btn-block">Search</button>
                </form>

                <code>
                    Bear in mind that this search is limited to the first 100 songs and the crawling process is <a href="https://en.wikipedia.org/wiki/Web_crawler#Politeness_policy" target="_blank">very polite</a> so it could take like 3 minutes to complete.
                </code>
            </div>
        </div>
    </div>
</section>