@{
    ViewData["Title"] = "Home";
}

<partial name="_popularArtists" />
<partial name="_search" />
<partial name="_results" />

@section Scripts {
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                $("#resultList").empty();
                $("result").addClass("hidden");
                $("#submit").attr("disabled", true);
                $("#artistId").attr("disabled", true);
                $("#submit").text("Searching..");

                const artist = JSON.stringify({ id: $("#artistId").val() });

                $.ajax({
                    type: "POST",
                    url: "mvc/topwords",
                    data: artist,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        if (!data.words) {
                            alert(data.message);
                            return;
                        }

                        $.each(data.words, function (word, count) {
                            $("#resultList").append('<li>' + word + ': ' + count + '</li>');
                        });

                        $("#message").text("");
                        $("#submit").attr("disabled", false);
                        $("#artistId").attr("disabled", false);
                        $("#result").removeClass("hidden");
                        $("#submit").text("Search");
                        $("html, body").animate({
                            scrollTop: $("#resultTitle").offset().top
                        }, 1000);
                    },
                    failure: function (error) {
                        $("#submit").attr("disabled", false);
                        $("#artistId").attr("disabled", false);
                        $("#submit").text("Search");
                        console.log("error", error);
                    }
                });
            });
        });
    </script>
}