@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-2">
    <div class="container">
        <h1 class="display-3">Top Words</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="artistId" placeholder="Artist Id">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            asdasdasd
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            asdasdasd
        </div>
    </div>
</div>